# --- Python Junk ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# --- SECURITY (CRITICAL) ---
# Never upload these! They allow MITM attacks.
*.pem
*.p12
*.cer
*.crt
*.key
.mitmproxy/

# --- Logs & Databases ---
*.log
*.sqlite
*.db

# --- OS Junk ---
.DS_Store
Thumbs.db
